@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

@tailwindcss base;
@tailwind components;
@tailwind utilities;

:root{
  font-family:'Poppins', sans-serif ;


}
body{
  background:white;
}
li{
  list-style: none;
  cursor: pointer;
  position: relative;
}
li:hover::before{
  position: absolute;
  content: '';
  height: 4px;
  width: 100%;
  background: #2a68ff;
  right: 0;
  color: #2a68ff;
  bottom: -10px;


}
.icon{
  cursor: pointer;
}
.card{
  background: #ede5e5;
}

